In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [2]:
# dados originais
insurances = pd.read_csv('insurance_migue2.csv')
insurances

      age     bmi  children      charges
0      19  27.900         0  16884.92400
1      18  33.770         1   1725.55230
2      28  33.000         3   4449.46200
3      33  22.705         0  21984.47061
4      32  28.880         0   3866.85520
5      31  25.740         0   3756.62160
6      46  33.440         1   8240.58960
7      37  27.740         3   7281.50560
8      37  29.830         2   6406.41070
9      60  25.840         0  28923.13692
10     25  26.220         0   2721.32080
11     62  26.290         0  27808.72510
12     23  34.400         0   1826.84300
13     56  39.820         0  11090.71780
14     27  42.130         0  39611.75770
15     19  24.600         1   1837.23700
16     52  30.780         1  10797.33620
17     23  23.845         0   2395.17155
18     56  40.300         0  10602.38500
19     30  35.300         0  36837.46700
20     60  36.005         0  13228.84695
21     30  32.400         1   4149.73600
22     18  34.100         0   1137.01100
23     34  31.920         1  37701.87680
24     37  28.025         2   6203.90175
25     59  27.720         3  14001.13380
26     63  23.085         0  14451.83515
27     55  32.775         2  12268.63225
28     23  17.385         1   2775.19215
29     31  36.300         2  38711.00000
...   ...     ...       ...          ...
1308   25  30.200         0  33900.65300
1309   41  32.200         2   6875.96100
1310   42  26.315         1   6940.90985
1311   33  26.695         0   4571.41305
1312   34  42.900         1   4536.25900
1313   19  34.700         2  36397.57600
1314   30  23.655         3  18765.87545
1315   18  28.310         1  11272.33139
1316   19  20.600         0   1731.67700
1317   18  53.130         0   1163.46270
1318   35  39.710         4  19496.71917
1319   39  26.315         2   7201.70085
1320   31  31.065         3   5425.02335
1321   62  26.695         0  28101.33305
1322   62  38.830         0  12981.34570
1323   42  40.370         2  43896.37630
1324   31  25.935         1   4239.89265
1325   61  33.535         0  13143.33665
1326   42  32.870         0   7050.02130
1327   51  30.030         1   9377.90470
1328   23  24.225         2  22395.74424
1329   52  38.600         2  10325.20600
1330   57  25.740         2  12629.16560
1331   23  33.400         0  10795.93733
1332   52  44.700         3  11411.68500
1333   50  30.970         3  10600.54830
1334   18  31.920         0   2205.98080
1335   18  36.850         0   1629.83350
1336   21  25.800         0   2007.94500
1337   61  29.070         0  29141.36030

[1338 rows x 4 columns]

In [3]:
# um pouco mais de informações sobre os dados
insurances.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [4]:
# coeficiente de relação (quanto mais próximo de 1.0 ou -1.0, melhor atributo)
insurances.corr()

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [5]:
# Campos relavantes para o treinamento
cols = ['age', 'sex', 'bmi', 'children', 'smoker', 'region']
# Campo para predição
cols_target = ['charges']

regression = linear_model.LinearRegression()
x_train, x_test, y_train, y_test = train_test_split(
    insurances[cols], insurances[cols_target], test_size=0.2, random_state=4)

In [6]:
x_train

      age     bmi  children
127    52  37.400         0
578    52  30.200         1
385    19  34.400         0
1203   51  32.300         1
413    25  23.900         5
431    29  20.235         2
707    49  28.690         3
427    18  29.165         0
574    57  34.295         2
435    60  33.110         3
290    28  33.400         0
256    56  33.630         0
696    53  32.300         2
874    44  21.850         3
1117   25  33.330         2
698    56  33.725         0
161    18  36.850         0
1089   56  22.100         0
963    46  24.795         3
1118   33  35.750         1
332    61  31.160         0
342    60  27.550         0
878    41  28.800         1
1027   23  18.715         0
279    51  21.560         1
802    21  22.300         1
1112   48  25.850         3
292    25  45.540         2
1137   26  22.230         0
511    27  33.660         0
...   ...     ...       ...
426    38  27.265         1
243    40  35.300         3
680    21  17.400         1
343    63  36.765         0
954    34  27.835         1
1054   27  21.470         0
1336   21  25.800         0
706    51  38.060         0
56     58  31.825         2
422    40  32.775         1
149    19  28.400         1
533    37  36.190         0
183    44  26.410         0
1024   47  45.320         1
1150   18  30.305         0
1318   35  39.710         4
1068   63  21.660         1
946    42  35.800         2
951    51  42.900         2
823    44  29.810         2
109    63  35.090         0
1082   38  19.950         1
393    49  31.350         1
818    47  26.125         1
456    55  30.140         2
360    48  32.300         2
709    36  27.740         0
439    26  29.450         0
174    24  33.345         0
1146   60  32.800         0

[1070 rows x 3 columns]

In [7]:
x_test

      age     bmi  children
726    41  28.405         1
260    58  25.200         0
902    26  27.265         3
566    38  40.565         1
776    40  32.300         2
270    18  29.370         1
13     56  39.820         0
280    40  28.120         1
885    32  28.930         1
854    49  23.845         3
1182   25  30.300         0
666    49  28.700         1
70     27  24.750         0
75     57  34.010         0
286    46  48.070         2
330    61  36.385         1
1294   58  25.175         0
1165   35  26.125         0
92     59  29.830         3
430    19  33.100         0
662    32  31.540         1
1070   37  37.070         1
833    58  34.390         0
1219   38  30.210         3
1295   20  22.000         1
1187   62  32.680         0
889    57  33.630         1
188    41  32.200         1
1206   59  34.800         2
891    36  29.040         4
...   ...     ...       ...
547    54  46.700         2
1021   22  31.020         3
11     62  26.290         0
557    34  34.210         0
916    43  26.885         0
734    59  32.100         3
999    36  26.885         0
1243   28  33.110         0
672    36  29.700         0
1296   18  26.125         0
238    19  29.070         0
968    21  25.745         2
512    51  22.420         0
289    52  26.400         3
237    31  38.390         2
254    50  31.825         0
1325   61  33.535         0
864    51  25.400         0
38     35  36.670         1
683    53  24.320         0
228    41  31.635         1
759    18  38.170         0
1060   24  32.010         0
861    38  28.000         3
631    24  29.300         0
705    33  32.900         2
309    41  33.060         2
1183   48  27.360         1
1281   47  27.645         2
800    42  26.180         1

[268 rows x 3 columns]

In [8]:
y_train

           charges
127    9634.538000
578    9724.530000
385    1261.859000
1203   9964.060000
413    5080.096000
431    4906.409650
707   10264.442100
427    7323.734819
574   13224.057050
435   13919.822900
290    3172.018000
256   43921.183700
696   29186.482360
874    8891.139500
1117  36124.573700
698   10976.245750
161   36149.483500
1089  10577.087000
963    9500.573050
1118  38282.749500
332   13429.035400
342   13217.094500
878    6282.235000
1027  21595.382290
279    9855.131400
802    2103.080000
1112  24180.933500
292   42112.235600
1137   3176.287700
511    2498.414400
...            ...
426    6555.070350
243    7196.867000
680    2585.269000
343   13981.850350
954   20009.633650
1054   3353.470300
1336   2007.945000
706   44400.406400
56    13607.368750
422   39125.332250
149    1842.519000
533   19214.705530
183    7419.477900
1024   8569.861800
1150   2203.735950
1318  19496.719170
1068  14349.854400
946    7160.094000
951   47462.894000
823    8219.203900
109   47055.532100
1082   5855.902500
393    9290.139500
818   23401.305750
456   11881.969600
360   10043.249000
709    5469.006600
439    2897.323500
174    2855.437550
1146  52590.829390

[1070 rows x 1 columns]

In [9]:
y_test

          charges
726    6664.68595
260   11837.16000
902    4661.28635
566    6373.55735
776    6986.69700
270    1719.43630
13    11090.71780
280   22331.56680
885   19719.69470
854   24106.91255
1182   2632.99200
666    8703.45600
70    16577.77950
75    11356.66090
286    9432.92530
330   48517.56315
1294  11931.12525
1165   5227.98875
92    30184.93670
430   23082.95533
662    5148.55260
1070  39871.70430
833   11743.93410
1219   7537.16390
1295   1964.78000
1187  13844.79720
889   11945.13270
188    6775.96100
1206  36910.60803
891    7243.81360
...           ...
547   11538.42100
1021  35595.58980
11    27808.72510
557    3935.17990
916   21774.32215
734   14007.22200
999    5267.81815
1243   3171.61490
672    4399.73100
1296   1708.92575
238   17352.68030
968    3279.86855
512    9361.32680
289   25992.82104
237    4463.20510
254   41097.16175
1325  13143.33665
864    8782.46900
38    39774.27630
683    9863.47180
228    7358.17565
759   36307.79830
1060   1981.58190
861    7151.09200
631    1977.81500
705    5375.03800
309    7749.15640
1183   9447.38240
1281  24535.69855
800    7046.72220

[268 rows x 1 columns]

In [10]:
# Executa Treinamento com 80% dos dados disponíveis
regression.fit(x_train, y_train)

# Faz previsão dos 20% dos dados que não entraram no treinamento
output = regression.predict(x_test)
output

array([[12926.72359055],
       [15263.02732702],
       [ 9981.02561102],
       [16613.35162369],
       [14588.87742694],
       [ 7885.35271332],
       [20072.02614293],
       [12589.50558821],
       [11007.22000242],
       [14136.16656827],
       [ 9370.99006843],
       [14907.90288778],
       [ 7836.16859437],
       [18209.01141114],
       [21687.70180549],
       [20494.14034501],
       [15254.00258242],
       [10207.21685843],
       [18640.0495648 ],
       [ 8975.74598074],
       [11949.40333894],
       [15117.35641437],
       [18580.52344296],
       [13856.1714916 ],
       [ 5693.52983219],
       [18900.5745676 ],
       [18562.26983434],
       [14296.67982123],
       [19943.73425064],
       [13455.57615763],
       [ 9046.94214833],
       [ 8001.07356365],
       [ 8246.85406265],
       [ 9084.78500854],
       [14205.92080999],
       [ 6990.30216815],
       [19677.93492001],
       [18066.11300061],
       [10468.6270061 ],
       [15004.32312447],
       [17647.77562324],
       [16180.02083047],
       [12457.47659712],
       [18154.14725888],
       [15442.63960757],
       [ 4880.31688005],
       [14365.9066464 ],
       [ 7714.11055986],
       [18636.31246599],
       [18215.61884857],
       [12318.70218301],
       [ 9130.89213609],
       [14047.0217045 ],
       [ 4499.47265782],
       [ 8133.71744636],
       [ 7372.3364477 ],
       [ 4543.09887771],
       [ 7663.85556131],
       [ 4463.37367941],
       [17825.04751507],
       [ 8530.27879232],
       [ 8017.03453271],
       [13093.40963418],
       [ 7476.43246805],
       [17077.26871206],
       [15068.47974122],
       [10574.77435407],
       [12892.42956106],
       [16473.26544119],
       [10091.763728  ],
       [15334.28413858],
       [11937.9190279 ],
       [10343.81781069],
       [12532.32238846],
       [12318.14835852],
       [14859.68083214],
       [ 6292.09438171],
       [16818.0742855 ],
       [20830.31134233],
       [20014.37110386],
       [ 8277.72899574],
       [17322.08165785],
       [11660.50818526],
       [ 7690.17438458],
       [ 9293.10954495],
       [16256.67157073],
       [ 8258.17947006],
       [12383.70168537],
       [10566.1975742 ],
       [14230.96210088],
       [21233.05879693],
       [21295.16661944],
       [ 4860.46244192],
       [11161.60272399],
       [11687.62214498],
       [12318.81882737],
       [ 9799.74890049],
       [13923.81333859],
       [10680.44479599],
       [17115.08769769],
       [ 7898.15174927],
       [18886.95652062],
       [18828.68658994],
       [12875.09828985],
       [11239.99734605],
       [17317.36664439],
       [15624.50733513],
       [10498.30385864],
       [14457.34414974],
       [ 6811.1006598 ],
       [17859.26209275],
       [19164.71453497],
       [16731.39152152],
       [11811.71565576],
       [15211.64587165],
       [10912.60724801],
       [14767.52764417],
       [16036.31926024],
       [19675.14403319],
       [12053.29270652],
       [13744.28599974],
       [10390.21104283],
       [21120.66173985],
       [ 9321.37383607],
       [ 7246.60491487],
       [10449.01894666],
       [11942.59431545],
       [11404.12598674],
       [ 6397.767357  ],
       [ 8953.69969607],
       [ 6252.07805965],
       [17371.18632499],
       [ 6943.64121612],
       [13367.91041228],
       [16819.17940111],
       [10611.93618882],
       [ 9258.42861784],
       [10725.62409624],
       [15928.17340055],
       [ 7502.70354217],
       [17258.97204611],
       [12575.88754124],
       [17276.30331732],
       [13059.34359868],
       [20441.69349993],
       [ 8722.43824025],
       [10867.95536431],
       [ 5880.56602783],
       [11245.47325993],
       [ 7459.58888749],
       [18284.57795384],
       [ 9184.19771811],
       [13199.57832335],
       [ 7770.67886801],
       [22484.15611876],
       [11989.08834061],
       [14081.35545989],
       [ 7946.61765023],
       [15705.48619124],
       [ 8778.39165679],
       [ 2554.04516729],
       [11347.06449806],
       [ 7203.20668896],
       [10893.09744823],
       [ 3741.39411119],
       [15854.51513316],
       [15437.5108654 ],
       [15917.03372786],
       [14548.78165307],
       [ 7159.76324727],
       [14875.76097892],
       [ 5606.174066  ],
       [11310.96551965],
       [15926.63363817],
       [10542.46551834],
       [12872.92229464],
       [15344.47253255],
       [ 9691.71968516],
       [11763.73997881],
       [12899.15913273],
       [17918.06999658],
       [ 7512.81501769],
       [18028.82649825],
       [15973.1699226 ],
       [19088.28925533],
       [12663.13998103],
       [ 8183.94857033],
       [13794.00555849],
       [14760.34757439],
       [ 8988.71194356],
       [13936.30492873],
       [16863.64850661],
       [19595.72628069],
       [17363.06553311],
       [15202.58140114],
       [11942.82230944],
       [ 9336.73576484],
       [14750.02944609],
       [20472.41735748],
       [11944.7677773 ],
       [ 5873.71727843],
       [17151.69824132],
       [14956.80090214],
       [11143.7573542 ],
       [ 9881.48316713],
       [14692.80652043],
       [11587.04325268],
       [ 7635.20437258],
       [13030.77186175],
       [12086.53973099],
       [12782.70125656],
       [10611.33714854],
       [13961.187316  ],
       [14207.96960423],
       [19802.43413626],
       [15738.79428283],
       [16803.07537976],
       [14618.53589479],
       [ 8203.66248952],
       [13405.67382067],
       [21964.66215003],
       [ 9977.4767803 ],
       [11063.03290002],
       [12047.61013986],
       [18516.57094562],
       [12170.04175401],
       [11404.30876494],
       [20487.33132152],
       [19275.26438386],
       [10573.41990325],
       [ 8111.75314687],
       [15078.71841771],
       [10679.43751688],
       [ 8405.71344223],
       [ 4400.20046719],
       [ 8303.9975365 ],
       [14007.27310234],
       [17761.89817743],
       [23067.83311218],
       [10399.19859489],
       [16593.84984716],
       [12891.48334907],
       [12356.25640527],
       [19459.49637472],
       [10715.90500822],
       [11088.37910336],
       [11732.09125048],
       [ 6223.50632273],
       [ 7520.95715079],
       [ 7770.20702869],
       [12619.12433015],
       [15761.50320826],
       [14678.28198737],
       [15779.89733581],
       [18974.88491914],
       [13694.87388679],
       [14504.288673  ],
       [13773.67674768],
       [14092.72059321],
       [10571.62827229],
       [ 9753.94668539],
       [13058.38406872],
       [ 8775.66437046],
       [13165.11990035],
       [15097.56557673],
       [14189.84066321],
       [14548.82137898],
       [12357.85723478]])

In [11]:
# Verifica a qualidade da previsão
score = r2_score(y_test, output)
score

0.1250589316215438

In [12]:
# Usa o treinamento para fazer uma previsão de um dado novo
df_new_house_info = pd.DataFrame(
    [(19, 0, 27.900, 0, 1, 0)], columns=['age', 'sex', 'bmi', 'children', 'smoker', 'region'])

output2 = regression.predict(df_new_house_info)
output2

array([[7712.28173636]])